.container {
    display: grid;
    place-items: center;
}

.dadosUsuario {
    border: solid black 1px;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    color: blue;
    font-weight: bold;
    display:grid;
    justify-items: left;
    padding-left: 30px;
}

.dadosUsuario > * > * {
    display:inline;
    font-weight:400;
    color: black;
}